//Layout
.container {
  max-width: 940px;
  margin: 0 auto;
  @media (max-width: 991px) {
    max-width: 720px;
  }
  @media (max-width: 767px) {
    max-width: 540px;
    padding: 0 15px;
  }
}
.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  &_nwp {
    flex-wrap: nowrap;
  }

  &__item-2 {
    flex: 0 0 50%;
    box-sizing: border-box;
  }
  &__item-3 {
    flex: 0 0 33.333333%;
    box-sizing: border-box;
  }
  &__item-4 {
    flex: 0 0 25%;
    box-sizing: border-box;
  }
}
//Blocks
.title {
  font-size: 55px;
  font-weight: 500;
  color: $tx-primary;
}
.tx {
  color: $tx-primary;
  font-size: 18px;
  font-weight: 300;
  &_small {
    color: $muted;
    font-size: 15px;
  }
}
.link {
  color: #b9bee5;
  font-size: 15px;
  font-weight: 300;
}
.form {
  padding: 45px;
  background: $bg-secondary;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  border-radius: 27px;
  align-items: center;
  box-sizing: border-box;
  max-width: 390px;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 15px;
  }
  @media (max-width: 576px) {
    max-width: 100%;
  }

  &__item:not(:last-child) {
    margin-bottom: 35px;
  }
  &__title {
    margin: 0 0 10px;
    text-align: center;
    letter-spacing: 1.1px;
  }
  &__subtitle {
    display: inline;
    transition: 0.3s;
    &_active {
      color: $tx-primary;
    }
    &_required {
      &::after {
        content: "*";
        color: rgba(63, 67, 99, 1);
      }
    }
  }
  &__req-info {
    text-align: center;
    margin-bottom: 15px;
    &::before {
      content: "*";
      color: rgba(63, 67, 99, 1);
      padding-right: 3px;
    }
  }
  &__textarea {
    resize: vertical;
    &::-webkit-resizer {
      background-color: transparent;
    }
  }
  &__submit {
    margin: 0 auto;
  }
  &__element {
    outline: none;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #95b4e978;
    box-sizing: border-box;
    background: $bg-secondary;
    &:focus,
    &:active {
      border-bottom: 1px solid $tx-primary;
    }
  }
  &__name {
    text-transform: capitalize;
  }
  &__email,
  &__name,
  &__textarea,
  &__phone,
  &__company {
    transition: border-color 0.6s;
    &:invalid:not(:placeholder-shown) {
      border-color: #cf1e1e;
      &:not(:focus) {
        & + .form-info__email,
        & + .form-info__name,
        & + .form-info__textarea,
        & + .form-info__company,
        & + .form-info__phone {
          display: block;
        }
      }
    }
  }
  &__info {
    display: none;
    background: $muted;
    padding: 5px;
    color: $tx-primary;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    max-width: fit-content;
  }
  &__checkbox {
    display: none;
    &_label:before {
      content: " ";
      display: inline-block;
      margin-right: 15px;
      text-align: center;
      width: 30px;
      height: 30px;
      background: $bg-primary;
      border-radius: 8px;
      vertical-align: middle;
    }
    &:checked + &_label:before {
      content: " ";
      background: url(../img/mark.svg) $bg-primary;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:disabled + &_label:before {
      background: #eee;
      color: #aaa;
    }
  }
}
.btn {
  border-radius: 28px;
  background: $bg-primary;
  color: $tx-muted;
  padding: 11px 40px;
  width: auto;
  border: none;
  transition: 0.3s;
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    opacity: 0.7;
  }
}
